---
import { Icon } from 'astro-icon/components';
const { title, timeframe, location, url_name, tags } = Astro.props;
---

<div class="relative pl-8 sm:pl-32 py-6 group">
  <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-base-300/50 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-primary after:border-4 after:box-content after:border-base-100 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5"></div>
  <div class="mt-0.5 sm:mt-0 sm:ml-32">
    <h3 class="text-xl font-bold text-base-content">{title}</h3>
    <div class="flex items-center text-sm text-secondary font-medium mt-1">
      <span>{url_name}</span>
      <span class="mx-2">·</span>
      <span>{location}</span>
    </div>
    <div class="text-sm text-secondary mt-1">{timeframe}</div>
    <div class="prose text-secondary/90 mt-2">
      <slot name="description" />
    </div>
    <div class="flex flex-wrap gap-2 mt-4">
      {tags.map(tag => <span class="badge badge-outline">{tag}</span>)}
    </div>
  </div>
</div>
